.wrapper {
  position: relative;
}

.wrapper .fav-glyphicon {
  position: absolute;
  top: 10px;
  right: 5%;
}

.wrapper .link-glyphicon {
  position: absolute;
  top: 12px;
  right: 15%;
}

.user-select-dissabled {
  user-select: none;
}

.fav-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s, color 0.2s;
  color: white;
}

.fav-button:not(:hover) {
  transform: scale(1);
  transition: transform 0.2s, color 0.2s;
}

.fav-button:active {
  transform: scale(1.5);
  transition: transform 0.1s, color 0.05s;
  color: white;
}

.link-button:active {
  transform: scale(1.5);
  transition: transform 0.1s, color 0.05s;
  color: limegreen;
}

.fav-button {
  display: none;
  opacity: 0.7;
}

.link-button {
  display: none;
  opacity: 0.7;
}

.gif-card:hover .fav-button {
  display: block;
}

.gif-card:hover .link-button {
  display: block;
}
